<!DOCTYPE html>
<html ng-app = "MyProject">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="styles/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles/login.css" rel="stylesheet">
    <script src="scripts/jquery.min.js"></script>
  <script src="scripts/jquery.md5.js"></script>
  <script src="scripts/angular.min.js"></script>
  <script src="scripts/angular-route.min.js"></script>
  <script src="scripts/angular/controllers-login.js"></script>


  </head>

  <body>

    <div class="container" ng-controller="LoginCtrl">

      <form class="form-signin" role="form" ng-submit="login()">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" class="form-control" placeholder="Email address" required autofocus ng-model="user.email">
        <input type="password" class="form-control" placeholder="Password" required ng-model="user.password">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->

  </body>
</html>

